@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="banner">
    <img src="images/hero image.png"/>
    <div class="inner-content col-md-12">
        <div class="container jumboContainer">
            <div class=" col-md-8 middle">
                <h1>THE FUTURE<br> <span>WAS FIVE MINUTES AGO</span>.</h1>

                <p>We were there and it is going to be epic</p></div>

            <div class="content-right col-md-4">
                <h3>FUTURE</h3><span>CONFERENCE</span>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg">SIGN UP TODAY</button></div>
                <p>Tickets are selling fast
                    get yours today and be
                    there in the future</p>
            </div>
        </div>
    </div>
</section>

<section class="sec_include">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">


                <h3>DARK ENERGY</h3>
                <p>BRIGHTENS THE WORLD</p>
                <img src="images/Bitmap.png" alt="Public Adjuster"/>

                <div class="read-more-btn">
                    <a href="#" class="btn-oval">Learn More</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                <h3>ROBOTICS</h3>
                <p>THEY ARE HERE AND THEY PLAY</p>
                <img src="images/Bitmap(1).png" alt="Public"/>
                <div class="read-more-btn">
                    <a href="robotics.html" class="btn-oval">Learn More</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                <h3>STRANGERS RISE</h3>
                <p>ASCENSION GOES TECHNICAL</p>
                <img src="images/shutterstock_211091626.png" alt="Public"/>
                <div class="read-more-btn">
                    <a href="#" class="btn-oval">Learn More</a>

                </div>

            </div>
        </div>
    </div>
</section>
