<div class="sign-in col-md-2">
    <span class="dvider"></span>
    <div class="sign">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://id-local.globomantics.com:44395/Identity/Account/Manage/Index">Manage Account</a>
                    <li role="separator" class="divider"></li>
                    <li><a asp-page="/Logout">Logout</a></li>

                </ul>
            </li>
        }
        else
        {
            <a asp-page="/Login">
                <img class="sign-in-img" src="/images/avatar.svg" alt="sign-in">
                Sign-in
            </a>
        }
    </div>
</div>
